<div class="row">
  <h4>Comments</h4>
  <% @post.comments.each do |comment| %>
    <div class="small-2 columns">
      <p>by: <%= comment.author.capitalize %></p>
    </div>

    <div class="small-10 columns">
      <p><%= comment.body %></p>
    </div>
    <hr>
  <% end %>
</div>
